@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    padding: 0px;
    margin: 0px;
}
img{
    margin-left: 8%;
}
.navbuttons{
    margin-left: 25%
}

.page-header{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
#writeup{
    margin-top: 5em;
}
.btn-primary{
    background-color: #0076bd;
}
.footer{
    margin-bottom: 0px;
    background-color: #0076bd;
}
.footerp{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
.writeup-box{
    width: 100%;
    overflow: scroll;
    height: 300px;
    background-color:  #f0f0f5;
}
#writeup{
    margin: 2em;
    color: black;
    font-size: 1.2em;

    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;


}