@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body{
    padding: 0px;
    margin: 0px;
    zoom: 10%;
}
img{
    margin-left: 25%;
    margin-right: 20%;
    margin-bottom: 50px;
}
.navbuttons{
    margin-left: 18%
}

.page-header{
    font-family: 'Bebas Neue', cursive, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
#writeup{
    margin-top: 5em;
}
.btn-primary{
    background-color: #0076bd;
}
.footer{
    margin-bottom: 0px;
    background-color: #0076bd;
}
.footerp{
    color: white;
    text-align: center;
    font-family: 'Bebas Neue', cursive, Georgia, 'Times New Roman', Times, serif;
}
.writeup-box{
    width: 20%;
    overflow: scroll;
    height: 600px;
    position: fixed;
    right: 10px;
    bottom: 100px;
    top: 100px;
    background-color:  #f0f0f5;
    border: 2px solid black;
}
#writeup{
    margin: 2em;
    color: black;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.writeup-body{
    font-family: 'Montserrat', sans-serif, Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    padding: 3em;
}
.writeup-body li{
    list-style-type: circle;
}
.cloud_image{
    margin-top: 3em;
    margin-left: 19%;
}